.blog-card{
    margin-bottom: 50px!important
}
.ant-card-bordered{
    border-radius: 3px!important;
    box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border: none!important;
}
.ant-card-cover{
    width: 100%;
    height: 250px;
    border-radius: 10px!important;
    
}
.blog-img-desc{
    left: 0;
    top: 174px;
    position: absolute;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.7);
    padding:  15px 20px;
}
.blog-img-desc .ant-card-meta-title,.blog-img-desc .ant-card-meta-description{
    color:white;
    font-family: "Comic Sans MS","Helvetica Neue","Microsoft Yahei",-apple-system,sans-serif!important;
}
.blog-img-desc .ant-card-meta-title{
    font-size: 20px;
    letter-spacing:2px;
    font-weight: bolder
}
.blog-time,.blog-tag{
    text-shadow: #9e9e9e 0 0 1px;
    font-family: "Comic Sans MS","Helvetica Neue","Microsoft Yahei",-apple-system,sans-serif!important;
    opacity: .8!important;
}
.ant-card-meta-avatar{
    margin-top: -5px
}
.blog-img{
    height: 250px;
}
.blog-meta{
    display: block;
    width: 100%;
}
.head_img{
    height: 50px!important;
    width: 50px!important;
    border-radius: 50%!important;
    background: #00B0FF!important;
    box-shadow: 0 0 2px 3px rgba(255,255,255,0.7), 0 0 30px 8px #f6f6f6
}
.head_img img{
    height: 40px!important;
    width: 40px!important;
    margin: 0 auto;
}
.head_img img:hover{
    height: 500%!important;
    width: 500%!important;
    margin: -50px 0 0 -5px;
    transition: ease-in 10s
}
.head_img:hover{
    box-shadow: 0 0 2px 3px rgba(255,255,255,0.7), 0 0 50px 10px #f6f6f6

}
