.tag {
    margin: 5px 10px 0 0;
    color: white;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    font-size: 12px;
    cursor: pointer;
}

.preBar {
    margin: 20px;
    position: fixed;
}

.toTop {
    position: fixed;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #0086b3;
}