blockquote {
    color: #666;
    margin: 0;
    padding: 3px 20px;
    border-left: 0.5em #FFFF00 solid;
    background-color: #FAFAFA;
}
.markdown{
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}
.markdown img{
    margin: 15px auto;
    max-width: 100%;display: block;
}
.markdown h4{
    font-size: 20px;
    font-weight: 700
}
.markdown h5{
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0
}
